extends layout

block content
  .col-md-12.col-xs-12
    .panel.panel-default
      .panel-heading
        strong #{settings.locale.api_title}
      .panel-body
        p
          em #{settings.locale.api_message}
        hr

        h3 #{settings.locale.api_calls}
        p
          i Return data from coind

        ul
          li
            strong getdifficulty &nbsp;
            em #{settings.locale.api_getdifficulty}
            br
            a(href='/api/getdifficulty') #{address}/api/getdifficulty
          li
            strong getconnectioncount &nbsp;
            em #{settings.locale.api_getconnectioncount}
            br
            a(href='/api/getconnectioncount') #{address}/api/getconnectioncount
          li
            strong getblockcount &nbsp;
            em #{settings.locale.api_getblockcount}
            br
            a(href='/api/getblockcount') #{address}/api/getblockcount
          li
            strong getblockhash [index] &nbsp;
            em #{settings.locale.api_getblockhash}
            br
            a(href='/api/getblockhash?index='+hashes.blockindex) #{address}/api/getblockhash?index=#{hashes.blockindex}
          li
            strong getblock [hash] &nbsp;
            em #{settings.locale.api_getblock}
            br
            a(href='/api/getblock?hash='+hashes.blockhash) #{address}/api/getblock?hash=#{hashes.blockhash}
          li
            strong getrawtransaction [txid] [decrypt] &nbsp;
            em #{settings.locale.api_getrawtransaction}
            br
            a(href='/api/getrawtransaction?txid='+hashes.txhash+'&decrypt=0') #{address}/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=0
            br
            a(href='/api/getrawtransaction?txid='+hashes.txhash+'&decrypt=1') #{address}/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=1

          if settings.index.show_hashrate == true
            li
              strong getnetworkhashps &nbsp;
              em #{settings.locale.api_getnetworkhashps}
              br
              a(href='/api/getnetworkhashps') #{address}/api/getnetworkhashps

        if settings.heavy == true
          ul
            li
              strong getmaxmoney &nbsp;
              em #{settings.locale.api_getmaxmoney}
              br
              a(href='/api/getmaxmoney') #{address}/api/getmaxmoney
            li
              strong getmaxvote &nbsp;
              em #{settings.locale.api_getmaxvote}
              br
              a(href='/api/getmaxvote') #{address}/api/getmaxvote
            li
              strong getvote &nbsp;
              em #{settings.locale.api_getvote}
              br
              a(href='/api/getvote') #{address}/api/getvote
            li
              strong getphase &nbsp;
              em #{settings.locale.api_getphase}
              br
              a(href='/api/getphase') #{address}/api/getphase
            li
              strong getreward &nbstrp;
              em #{settings.locale.api_getreward}
              br
              a(href='/api/getreward') #{address}/api/getreward
            li
              strong getsupply &nbsp;
              em #{settings.locale.api_getsupply}
              br
              a(href='/api/getsupply') #{address}/api/getsupply
            li
              strong getnextrewardestimate &nbsp;
              em #{settings.locale.api_getnextrewardestimate}
              br
              a(href='/api/getnextrewardestimate') #{address}/api/getnextrewardestimate
            li
              strong getnextrewardwhenstr &nbsp;
              em #{settings.locale.api_getnextrewardwhenstr}
              br
              a(href='/api/getnextrewardwhenstr') #{address}/api/getnextrewardwhenstr

        hr

        h3 Extended API
        p
          i Return data from local indexes

        ul
          li
            strong getmoneysupply &nbsp;
            em Returns current money supply
            br
            a(href='/ext/getmoneysupply') #{address}/ext/getmoneysupply
          li
            strong getcirculatingsupply &nbsp;
            em Returns current circulating supply
            br
            a(href='/ext/getcirculatingsupply') #{address}/ext/getcirculatingsupply
          li
            strong getdistribution &nbsp;
            em Returns wealth distribution stats
            br
            a(href='/ext/getdistribution') #{address}/ext/getdistribution
          li
            strong getaddress [hash] &nbsp;
            em Returns information for given address
            br
            a(href='/ext/getaddress/'+hashes.address) #{address}/ext/getaddress/#{hashes.address}
          li
            strong getbalance [hash] &nbsp;
            em Returns current balance of given address
            br
            a(href='/ext/getbalance/'+hashes.address) #{address}/ext/getbalance/#{hashes.address}
          li
            strong getlasttxs [count] [min] &nbsp;
            em Returns last [count] transactions greater than [min]
            br
            strong Note: returned values are in satoshis
            br
            a(href='/ext/getlasttxs/10/100') #{address}/ext/getlasttxs/10/100

          if settings.masternodes.enabled
            li
              strong getmasternodecount &nbsp;
              em Returns the total number of active masternodes
              br
              a(href='/ext/getmasternodecount') #{address}/ext/getmasternodecount

        h3 Linking (GET)
        p
          i Linking to the block explorer

        ul
          li
            strong transaction [txhash] &nbsp;
            br
            a(href='/tx/'+hashes.txhash) #{address}/tx/#{hashes.txhash}
          li
            strong block [hash] &nbsp;
            br
            a(href='/block/'+hashes.blockhash) #{address}/block/#{hashes.blockhash}
          li
            strong address [hash] &nbsp;
            br
            a(href='/address/'+hashes.address) #{address}/address/#{hashes.address}
          li
            strong qrcode [hash] &nbsp;
            br
            a(href='/qr/'+hashes.address) #{address}/qr/#{hashes.address}

    .footer-padding

